<div class="container">

<h1 class="titles"> Missing Classmates </h1>

  <% @users.each do |user| %>
 <div class="people">
        <h3 class="name"><%= user.name %></h3>
        <%= image_tag user.user_photo, class: "photo" %>
       <!--  <%= link_to 'Show', user %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %> -->

</div>
    <% end %>

  </div>

<!--<%= link_to 'New User', new_user_path %> -->
